.container{
  max-width:1170px;
  margin: auto;
}

.announcement {
  width: 92%;
  padding: 0 0 10px 30%;
}
.neutral {
  width: 55%;
  margin-bottom: 16px
}

.neutral p {
  background: #bbbbbb none repeat scroll 0 0;
  color: #333333;
  border-radius: 10px;
  float: center;
  text-align: center;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.incoming_msg {
  display: inline-block;
  margin: 0 0 12px;
  vertical-align: top;
  width: 92%;
 }
 
.received_msg { width: 46%;}
 
.received_msg p {
  background: #eaeaea none repeat scroll 0 0;
  border-radius: 10px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 4px 0 12px;
}

.mesgs {
  float: left;
  padding: 24px 15px 24px 15px;
  width: 100%;
  overflow-wrap: break-word;
  border: 2px solid;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.outgoing_msg{ overflow:hidden; margin:0 0 12px;}

.sent_msg p {
  background: #0089df none repeat scroll 0 0;
  border-radius: 10px;
  font-size: 14px;
  margin: 0;
  color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}

.sent_msg {
  float: right;
  text-align: right;
  width: 46%;
}

.type_msg {
	border-top: 1px solid #c4c4c4;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #fff;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  position: relative;
  width: 90%;
}

.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 12%;
  color: #fff;
  cursor: pointer;
  float: right;
  font-size: 17px;
  height: 48px;
  position: relative;
  width: 48px;
}