.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: #ff0700;
	text-align: center;
	background-color: #00aaff;
	font-family: Comic Sans, sans-serif;
	font-size: 88px;
	font-weight: bold;
	border: 3px solid blue;
}

.right {
	text-align: right;
}

span {
	color: red;
}