{% extends "layout.html" %}
{% block heading %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/bingo.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bingo.css') }}">
{% endblock %}
{% block body %}
	<h2>Bingo</h2>
	<button id="ticketgen">Generate</button>
	<p id=drawed>{{ drawed }}<p>
	<div id="ticket">
	{% for ticket in tickets %}
		{% if ticket['name'] == online_user %}
			<table class="ticket">
				<tr>
					<th colspan="3">{{ ticket['name'] }}</th>
					<th colspan="2">{{ ticket['score'] }}</th>
				</tr>
				<tr>
					{% for number in ticket['top'] %}
					<td class="undrawn">{{ number }}</td>
					{% endfor %}
				</tr>
				<tr>
					{% for number in ticket['mid'] %}
					<td class="undrawn">{{ number }}</td>
					{% endfor %}
				</tr>
				<tr>
					{% for number in ticket['bot'] %}
					<td class="undrawn">{{ number }}</td>
					{% endfor %}
				</tr>
			</table>
		{% endif %}
	{% endfor %}
	</div>
	<button id="draw">Draw number</button>
{% endblock %}