{% extends "layout.html" %}
{% block heading %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/chatroom.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/chatroom.css') }}">
{% endblock %}
{% block body %}
	The Chatroom name is <span id="chatroom">{{ chatroom }}</span> and it's code is <span id="code">{{ code }}</span>
	<div id="messages">
	{% for message in messages %}
		{% if message.author == online_user %}
			<div class="own">{{ message.message }}</div>
		{% else %}
			<div class="other"><strong>{{ message.author }}</strong><br> {{ message.message }}</div>
		{% endif %}
	{% endfor %}
	</div>
	<textarea id="message" rows=5 cols=50 maxlength="300"></textarea>
	<input type="button" id="send" value="Send">
{% endblock %}