{% extends "layout.html" %}
{% block heading %}
	<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
{% block body %}
{% if online_user %}
	{% if public_chatrooms %}
		{% if previous_chat %}
			<div><a href="{{ url_for('chatroom', chatroom=previous_chat['name'], code=previous_chat['code']) }}">Return to {{ previous_chat['name'] }}</a></div>
		{% endif %}
		<h2>Salas disponibles</h2>
		<ul id="chatroom_list">
		{% for dict_item in public_chatrooms %}
			{% if dict_item['type'] == 'public' %}
				<li><a class="chatroom_link" href="{{ url_for('chatroom', chatroom=dict_item['name'], code=dict_item['code']) }}">{{ dict_item['name'] }}</li>
			{% endif %}
		{% endfor %}
		</ul>
	{% else %}
		<h2>No rooms available</h2>
	{% endif %}
	<a href="{{ url_for('create_chatroom') }}">Create a room</a>
	<form action="{{ url_for('chatsearch') }}" method="post">
		<div class="menu">Insert a chatroom's code:</div>
		<div><input type="text" placeholder="Chat ID" id=code name="code"></div>
		<input type=submit>
	</form>
{% else %}
<form id="login" action="{{ url_for('login') }}" method="post">
	<div class="menu center">Select a nickname to use on the site.</div>
	<div><input type="text" placeholder="Username" id=username name="username" class=center maxlength="20"></div>
	<input type=submit class="center">
</form>
<div id="inner_message" class="center">{{ text }}</div>
{% endif %}
{% endblock %}