<!DOCTYPE html>
<html>
	<head>
		{% if online_user %}
		<div class="right" id="current_user">{{ online_user }}</div>
		<div class="right" id="logout"><a href="{{ url_for('logout') }}">Cerrar sesión</a></div>
		{% endif %}
		<title>Project2</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
		<script src="{{ url_for('static', filename='js/layout.js') }}"></script>
		{% block heading %}{% endblock %}
	</head>
	<body>
		<h1>PROJECT 2</h1>
		{% block body %}{% endblock %}
		<form id="background">
			<div id="text">Elegí color de fondo. Valores RGB de 0 a 255</div>
			Red:
			<input type="number" id="red" min="0" max="255">
			Green:
			<input type="number" id="green" min="0" max="255">
			Blue:
			<input type="number" id="blue" min="0" max="255">
			<input type=submit>
		</form>
	</body>
</html>
